<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=, initial-scale=1.0">

	<title>Agro Pop Shop - Eraldo</title>
	<link th:href="@{/public/favicon.ico}" rel="icon" type="image/x-icon">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<div>
		<ul>
			<li><a href="/">Inicio</a></li>			
			<li><a href="/cadastrarClientes">Cadastrar</a></li>
			<li><a href="/listarClientes">Clientes</a></li>
			<li><a href="/public/sobre.html">Sobre</a></li>
			<li><a href="/public/contato.html">Contato</a></li>
		</ul>
	</div>


	<h1>Adicionar Clientes</h1>

	<img th:src="@{/imagens/leao.jpg}" class="img-responsive" alt="Rwar" title="Leao de Juda" />



</body>

</html>